/****** Main Styling ******/

body,
html {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #FaFaFa;
	text-align: center;
	line-height: 1.4em;
	width: 100vw;
	height: 100vh;
}

main {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#converter {
	border: #222 1px solid;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	padding: 30px;
	border-radius: 5px;
	background-color: #fff;
}

#clock {
	font-size: 2rem;
	padding: 20px 40px;
	border-radius: 10px;
}

.btn-converter {
	margin: 4%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.btn-converter button {
	flex: 1;
	cursor: pointer;
	padding: 10px;
}

.btn-converter span {
	font-size: 1.2rem;
}

label {
	display: flex;
}

.choice-picker {
	display: flex;
}

#dateInput {
	margin: 10px;
	font-size: 1.2rem;
}

#clockContainer{
	display: flex;
}

#manualContainer{
	display: flex;
}